@import "tailwindcss";

@theme {
    --color-primary: #ac7339;
    --color-secondary: #DFBE9F;
    --color-accent: #FFFFFF;
    --font-khmer: "Koh Santepheap" , serif;
    --font-english: "Inria Sans" , serif;
}

@custom-variant media (&:where(.dark, .dark *));